body{
	background-color: #D3D3D3;
}

#mainContainer{

	background-color: #FFFFFF;
	margin: 0 auto;
	margin-top:10px;
	width: 60%;
}
/*
.navbar-nav >li:hover> a:hover{
  background-color: #F9F9F9;
  color:#000000;
}*/


.libimg{width:150px;}